<div class="card mb-2" id="message-{{ message.id }}" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ message.name }}</h5>
        <p class="card-text">Email: {{ message.email }}</p>
        <p class="card-text">Favourite Color: {{ message.favourite_color }}</p>
        <button class="btn btn-warning" hx-get="{% url 'edit-message' message.id %}" hx-target="#message-{{ message.id }}" hx-swap="outerHTML">Edit</button>
        <button class="btn btn-danger" hx-delete="{% url 'delete-message' message.id %}" hx-target="#message-{{ message.id }}" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this message?">Delete</button>
    </div>
</div>